*{
    font-family: Inter;
    max-width: 1150px;
    margin: 0 auto;
}

.btn{
    width: 140px ;
    height: 34;
    padding: 10px;
    border-radius: 3px;
    background-color: #30B868;
    border: none;
    color: white;

}

.nav-bar{
    display: flex;
    
    align-items: center;
    width: 1100px;
    height: 85px;
    
}

.nav-menu{
    justify-content: space-between;
    gap: 30px;
    display: flex;
    
   
    
}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-weight:600 ;
    
   
}

.hero-section{
    background-image:url(./assets/hero-bg.png) ;
    /* width: 1200px; */
    height:550px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 100px;
    justify-content:center;
}

.early{
    display: flex;
    
    width: 155px;
    color: rgba(5, 254, 5, 0.795);
    font-size:12px ;
    font-weight: 500;
    background-color: white;
    border-radius: 600px;
    padding: 6px;
    margin-left: 420px;
   
}

.early img{
    width: 14px;
    height: 14px;
    
}

.hero-h{
    width: 490px;
    height: 100px;
    
    color:white ;
    font-size: 32px;
   margin-top: 14px;
   margin-left: 250px;

}

.hero-p{
    font-size: 11px;
    /* border:2px solid red; */
    width: 450px;
    margin:18px auto auto 270px ;
    color: white;
    font-weight: 200;
    text-align: center;
}

.hero-btn{
    gap: 10px;
   
    width: 420px;
    margin-top: 30px;
    margin-left: 290px;
    
}

.hero-btn-1{
    width:220px ;
    /* align-items: center; */
    padding: 12px 14px 12px 16px;
    
}
.hero-btn-1 .btn-1{
    display: flex;
}

.hero-btn-2{
    background :none;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    color: rgba(255, 255, 255, 1);
    margin-left: 16px;
    
}



