*{
    font-family: Inter;
    max-width: 1250px;
    margin: 0 auto;
    /* box-sizing: border-box; */
    /* padding: 0; */
}
header{
    height:600px;
}

.btn{
    width: 140px ;
    height: 34;
    padding: 10px;
    border-radius: 3px;
    background-color: #30B868;
    border: none;
    color: white;

}

.btn:hover{
    background-color: #0f6607;
}

.nav-bar{
    display: flex;
    
    align-items: center;
    width: 1100px;
    height: 85px;
    
}

.nav-menu{
    justify-content: space-between;
    gap: 30px;
    display: flex;
    
   
    
}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-weight:600 ;
    
   
}

.hero-section{
    background-image:url(./assets/hero-bg.png) ;
    /* width: 1200px; */
    height:550px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 100px;
    justify-content:center;
}

.early{
    display: flex;
    
    width: 155px;
    color: rgba(5, 254, 5, 0.795);
    font-size:12px ;
    font-weight: 500;
    background-color: white;
    border-radius: 600px;
    padding: 6px;
    margin-left: 420px;
    margin-bottom: 20px;
   
}

.early img{
    width: 14px;
    height: 14px;
    
}

.hero-h{
    /* width: 490px; */
    /* height: 100px; */
    
    color:white ;
    font-size: 32px;
   margin-top: 14px;
   margin-left: 250px;

}

.hero-p{
    font-size: 11px;
    /* border:2px solid red; */
    width: 450px;
    margin:30px auto auto 270px ;
    color: white;
    font-weight: 200;
    text-align: center;
}

.hero-btn{
    gap: 10px;
   
    width: 420px;
    margin-top: 30px;
    margin-left: 290px;
    
}

.hero-btn-1{
    width:220px ;
    /* align-items: center; */
    padding: 12px 14px 12px 16px;
    
}
.hero-btn-1 .btn-1{
    display: flex;
}

.hero-btn-2{
    background :none;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    color: rgba(255, 255, 255, 1);
    margin-left: 16px;
    
}

.hero-btn-2:hover{
    background-color: #30B868;
}

.card img{
    background-color:#F95555 ;
    border-radius: 100px;
    padding: 8px;
    
}




.notes .text{
  
    text-align: center;
    /* margin-bottom: 400px; */
   margin-top:50px ;
   

    

    
}

.notes .text h1{
    font-size: 37px;
}

.notes .text p{
    font-size: 12px;
    color: #627382;
    margin-top: 16px;
}

.card{
    display: flex;
    
    margin-top: 40px;
    gap: 22px;
    margin-bottom: 20px;
    
    

}

.card-1 {
   
width: 300px;
box-shadow: 0px 0px 2px 0px gray ;
padding: 25px;
border-radius: 8px;

}

.card-1 img{
  margin-left: 95px;
}

.card-1 h3{
    text-align: center;
    margin-top: 15px;
}

.card-1 p{
    text-align: center;
    margin-top: 15px;
}

.card-2 {
   
width: 300px;
box-shadow: 0px 0px 2px 0px gray ;
padding: 25px;
border-radius: 8px;

}

.card-2 img{
  margin-left: 95px;
}

.card-2 h3{
    text-align: center;
    margin-top: 15px;
}

.card-2 p{
    text-align: center;
    margin-top: 15px;
}

.card-3 {
   
width: 300px;
box-shadow: 0px 0px 2px 0px gray ;
padding: 25px;
border-radius: 8px;

}

.card-3 img{
  margin-left: 95px;
}

.card-3 h3{
    text-align: center;
    margin-top: 15px;
}

.card-3 p{
    text-align: center;
    margin-top: 15px;
}

.card-4 {
   
width: 300px;
box-shadow: 0px 0px 2px 0px gray ;
padding: 25px;
border-radius: 8px;

}

.card-4 img{
  margin-left: 95px;
}

.card-4 h3{
    text-align: center;
    margin-top: 15px;
}

.card-4 p{
    text-align: center;
    margin-top: 15px;
}

.picture-section{
    display: flex;
    padding: 80px 0px ;
    
    
    
    
   
}


.picture-section .picture img{

    width: 350px;
    height: 350px;
    margin-left: -95px;
   
    
}

.picture-section .pic-text{
    align-items: center;
    /* margin-left: -5px; */
    

}

.picture-section .pic-text h6{
   color: #30B868;
   margin-bottom: 20px;
   margin-top: 40px;

}

.picture-section .pic-text h2{
    color: #001931;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;

}

.picture-section .pic-text p{
    color: #627382;
    font-size:13px ;
    width:500px ;
    margin-bottom: 20px;
}

.pic-list .pic-list-1{
   
    display: flex;
    width: 360px;
    margin-left: -5px;
    font-size: 14px;
    color: #001931;
    font-weight: 500;
    margin-bottom: 8px;

}
.pic-list .pic-list-2{
  
    display: flex;
    width: 378px;
    margin-left: -6px;
    font-size: 14px;
    color: #001931;
    font-weight: 500;
    margin-bottom: 8px;

}
.pic-list .pic-list-3{
    
    display: flex;
    width: 370px;
    margin-left: -6px;
    font-size: 14px;
    color: #001931;
    font-weight: 500;
    margin-bottom: 8px;

}
.pic-list .pic-list-4{
   
    display: flex;
    width: 320px;
    margin-left: -3px;
    font-size: 14px;
    color: #001931;
    font-weight: 500;
    margin-bottom: 8px;
    

}

.think-section{
    background-color: #F7F6F2;
    padding: 80px 0px;
    border-radius: 12px;


    

}

.think-text{
   
   width: 450px;
   
}

.think-text h2{
    text-align: center;
    font-weight: 700;
    color: #001931;
    margin-bottom: 15px;
    letter-spacing:1px;
    font-size: 28px;

}

.think-text p{
    text-align: center;
    font-size: 12px;
    color: #627382;
    margin-bottom: 25px;
}

.think-text .think-btn{
    display: flex;
    width:170px ;
    margin-bottom: 15px;
}



.footer-section{
    background-color: #001931;
    display: flex;
    /* gap: 100px; */
   
    height: 250px;
    margin-top: 50px;
    
}
.footer-icon{
    /* border: 3px solid red; */
    align-items: flex-start;
    margin-left: 55px;
    margin-top: 80px;
    
}

.footer-p{
    color: white;
    font-size: 10px;
    /* border: 3px solid red; */
    margin-right: -950px;
    margin-top: 80px;
    
    height: 50px;
    

}

.footer-p p{
    margin-bottom: 10px;
}

.footer-social-icon img{
    margin-right: 5px;
}




.f-l-icon{
    width: 10px;
    background-color: white;
    border-radius: 10px;
    gap: px;
}

.copyright {
    color: white;
    margin-right: 450px;
    margin-top: 220px;
    font-size: 10px;
    color: rgba(250, 250, 250, 1);
   
    height: 20px;

}

.copyright p hr{
    color: #F95555;
}













