*{
    font-family: Inter;
    max-width: 1150px;
    margin: 0 auto;
}
header{
    height:600px;
}

.btn{
    width: 140px ;
    height: 34;
    padding: 10px;
    border-radius: 3px;
    background-color: #30B868;
    border: none;
    color: white;

}

.nav-bar{
    display: flex;
    
    align-items: center;
    width: 1100px;
    height: 85px;
    
}

.nav-menu{
    justify-content: space-between;
    gap: 30px;
    display: flex;
    
   
    
}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-weight:600 ;
    
   
}

.hero-section{
    background-image:url(./assets/hero-bg.png) ;
    /* width: 1200px; */
    height:550px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 100px;
    justify-content:center;
}

.early{
    display: flex;
    
    width: 155px;
    color: rgba(5, 254, 5, 0.795);
    font-size:12px ;
    font-weight: 500;
    background-color: white;
    border-radius: 600px;
    padding: 6px;
    margin-left: 420px;
   
}

.early img{
    width: 14px;
    height: 14px;
    
}

.hero-h{
    width: 490px;
    height: 100px;
    
    color:white ;
    font-size: 32px;
   margin-top: 14px;
   margin-left: 250px;

}

.hero-p{
    font-size: 11px;
    /* border:2px solid red; */
    width: 450px;
    margin:18px auto auto 270px ;
    color: white;
    font-weight: 200;
    text-align: center;
}

.hero-btn{
    gap: 10px;
   
    width: 420px;
    margin-top: 30px;
    margin-left: 290px;
    
}

.hero-btn-1{
    width:220px ;
    /* align-items: center; */
    padding: 12px 14px 12px 16px;
    
}
.hero-btn-1 .btn-1{
    display: flex;
}

.hero-btn-2{
    background :none;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    color: rgba(255, 255, 255, 1);
    margin-left: 16px;
    
}

.card img{
    background-color:#F95555 ;
    border-radius: 100px;
    padding: 8px;
    
}




.notes .text{
  
    text-align: center;
    /* margin-bottom: 400px; */
   margin-top:20px ;
   

    

    
}

.notes .text h1{
    font-size: 37px;
}

.notes .text p{
    font-size: 12px;
    color: #627382;
    margin-top: 16px;
}

.card{
    display: flex;
    
    margin-top: 40px;
    gap: 22px;
    margin-bottom: 20px;
    
    

}

.card-1 {
   
width: 300px;
box-shadow: 0px 0px 2px 0px gray ;
padding: 25px;
border-radius: 8px;

}

.card-1 img{
  margin-left: 80px;
}

.card-1 h3{
    text-align: center;
    margin-top: 15px;
}

.card-1 p{
    text-align: center;
    margin-top: 15px;
}

.card-2 {
   
width: 300px;
box-shadow: 0px 0px 2px 0px gray ;
padding: 25px;
border-radius: 8px;

}

.card-2 img{
  margin-left: 80px;
}

.card-2 h3{
    text-align: center;
    margin-top: 15px;
}

.card-2 p{
    text-align: center;
    margin-top: 15px;
}

.card-3 {
   
width: 300px;
box-shadow: 0px 0px 2px 0px gray ;
padding: 25px;
border-radius: 8px;

}

.card-3 img{
  margin-left: 80px;
}

.card-3 h3{
    text-align: center;
    margin-top: 15px;
}

.card-3 p{
    text-align: center;
    margin-top: 15px;
}

.card-4 {
   
width: 300px;
box-shadow: 0px 0px 2px 0px gray ;
padding: 25px;
border-radius: 8px;

}

.card-4 img{
  margin-left: 80px;
}

.card-4 h3{
    text-align: center;
    margin-top: 15px;
}

.card-4 p{
    text-align: center;
    margin-top: 15px;
}





